
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: white;
        background-image: linear-gradient(white, skyblue);
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }

    .square {
        width: 200px;
        height: 200px;
        background: rgba(84, 105, 243, 1);
    }
</style>

<div class="square"></div>