@{
    ViewData["Title"] = "Cookies";
}
<style>
    body {
        background-color: white;
        background-image: linear-gradient(white, skyblue);
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }
    .center {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        max-width: min(100%, 70ch);
    }
</style>

<main class="center">
    <h1 class="center">@ViewData["Title"]</h1>
    <h2>About what we track</h2>
    <p>
        We use cookies to track your session on our website.
        <br>
        This means we only store essential data so you don't have to log in on every page.
        <br>
        This data is not used outside of our website and contains no personal information.
    </p>
</main>