@{
    ViewData["Title"] = "Credits";
}
<style>
    body {
        background-color: white;
        background-image: linear-gradient(white, skyblue);
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }
    .center {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        max-width: min(100%, 70ch);
    }
</style>

<main class="center">
    <h1 class="center">@ViewData["Title"]</h1>
    <p>
        This project was originally created at <b>Columbia College Chicago</b> with the guidence <b>Leo Hazou</b> in the class <b>Application Design</b> in Spring of 2022.
    </p>
    <p>
        This project was originally created by:
        <ul>
            <li><a href="https://simmgames.com/" target="_blank">Owen Ravelo</a></li>
            <li><a href="https://sebpgames.wixsite.com/home" target="_blank">Sebastian Pedersen</a></li>
            <li><a href="#" target="_blank">Gabriel Willesmssen</a></li>
        </ul>
    </p>
    <p>
        This project is currently maintained by:
        <ul>
            <li><a href="https://simmgames.com/">Owen Ravelo</a></li>
        </ul>
        Any issues can be posted on our <a href="https://github.com/sim2kid/ColorMeRGB" target="_blank">GitHub</a>.
    </p>
</main>