@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: white;
        background-image: linear-gradient(white, skyblue);
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }
    .center {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<main style="max-width: 70ch;" class="center">
    <h1 class="center">@ViewData["Title"]</h1>
    <h2>What do we collect?</h2>
    <p>
        We collect the following information for the operation  and use of our website:
        <ul>
            <li>Username</li>
            <li>Password</li>
            <li>Game History</li>
        </ul>
        We explicitly do not track any other personal information and will not use information from outside this website.
    </p>
    <h2>How do we use your information?</h2>
    <p>
        We use this information to authenticate you and to operate.
    </p>
    <h2>How to remove your data?</h2>
    <p>
        Currently, to remove your data from our website, you must email us at <a href="mailto:contact@simmgames.com">contact@simmgames.com</a>.
    </p> 
    <h2>Cookies We Use</h2>
    <p>
        We use cookies to track your session on our website.
        <br>
        This means we only store essential data so you don't have to log in on every page.
        <br>
        This data is not used outside of our website and contains no personal information.
    </p>
</main>
