
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Created by Gabriel Willemssen*@
<style>
    body {
        background-color: white;
        background-image: linear-gradient(white, skyblue);
        background-attachment: fixed;
        font-family: Tahoma, Verdana, sans-serif;
    }

    .square {
        margin-top: 100px;
        width: 100%;
        height: 100px;
        background: rgba(60, 105, 243, 1);
        border-radius: 5px 5px 0 0;
        font-size: 24;
    }

    .answer {
        height: 200px;
        flex-grow: 1;
    }

    .answer-first {
        border-radius: 0 0 0 5px;
    }

    .answer-last {
        border-radius: 0 0 5px 0;
    }

    .square1 {
        background: rgba(80, 105, 243, 1);
    }

    .square2 {
        background: rgba(100, 105, 243, 1);
    }

    .square3 {
        background: rgba(120, 105, 243, 1);
    }

    .square4 {
        background: rgba(140, 105, 243, 1);
    }

    .square5 {
        background: rgba(160, 105, 243, 1);
    }

    .flex-container {
        flex-direction: column;
        display: flex;
        background-color: 0;
        justify-content: center;
        font-size: 24;
    }

    .answers {
        flex-direction: row;
        display: flex;
        width: 100%;
    }
    }
</style>

<main>


    <div class="flex-container">
        <div class="square"></div>
        <div id="answers" class="answers">
            <div class="answer square1 answer-first"></div>
            <div class="answer square2"></div>
            <div class="answer square3"></div>
            <div class="answer square4"></div>
            <div class="answer square5 answer-last"></div>
        </div>
    </div>



</main>